<%- include('../../partials/admin/header'); %>
<%- include('../../partials/admin/navbar'); %>
<%- include('../../partials/admin/sidenav'); %>           

<%# this page is where we create a new product %>
  <h3 class="header" style="text-align: center;">new product page</h3>


	<%messages.forEach(function(message) {%>

			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  <strong><%= message %></strong> 
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>

		<%})%>
		

		<form  name ="myForm" action="/admin/newProduct" method="post" style="margin: 20px" enctype="multipart/form-data"> 
			  <div class="form-group">
			    <label for="title">Enter product title</label>
			    <input type="text" name="title" class="form-control"  aria-describedby="pageTitle" placeholder="Enter title.." value="">
			    <small  class="form-text text-muted">enter product title</small>
			  </div>

			  <div class="form-group">
			    <label for="slug">Enter product price</label>
			    <input type="text" name="price" class="form-control"  aria-describedby="slug" placeholder="Enter price.." value="">
			    <small  class="form-text text-muted">enter product price</small>
			  </div>

			  <div class="form-group">
			    <label for="quantiy">Quantity</label>
			    <input type="number" name="quantity" class="form-control"  aria-describedby="quantiy" placeholder="Enter quantiy.." value="">
			    <small  class="form-text text-muted">enter product quantity</small>
			  </div>

			 <div class="form-group">
			 	<label for="category">Category</label>	
			 	<select name = "category" class="form-group">
			 		<%category.forEach(function(cat){%>
			 			<option value="<%=cat.sep%>"><%=cat.name%></option>
			 	<%})%>
			 	</select>			
			 	
			 </div>
			  <div class="form-group">
			    <label for="title">Enter product description</label>
			   <textarea name="description" id="dd" class="form-control" id="editor" cols="30" rows="10" placeholder="add description ..."></textarea>
			    <small  class="form-text text-muted">enter product description</small>
			  </div>

			  <div class="form-group">
			    <label for="image">Upload image</label>
			    <input type="file" name="image" class="form-control"  aria-describedby="image" id="img">
			    <img src="#" id="imgPreview" alt="no image">
			    <small  class="form-text text-muted">Enter Image</small>
			  </div>
			  
			 
			  <button type="submit"  class="btn btn-primary">Submit</button>
		</form>
  </div>
      </div>
    </main>
  </div>
</div>  

				 <script>
                        function readURL(input) {
                        	if(input.files && input.files[0]){
                        		var reader = new FileReader();
                        		reader.onload = function(e) {
                        			$('#imgPreview').attr('src',e.target.result).width(100).height(100);
                        		}
                        		reader.readAsDataURL(input.files[0]);
                        	}
                        }

                        $('#img').change(function(){
                        	readURL(this)
                        })
                </script>


  <%- include('../../partials/admin/footer'); %>